{#
/**
 * @file
 * Default theme implementation for property card.
 *
 * Available variables:
 * - title: Property title
 * - image: Property image
 * - location: Property location
 * - type: Property type
 * - url: Link to full property page
 */
#}
<article class="property-card">
  <div class="property-card__image">
    {% if image %}
      {{ image }}
    {% endif %}
    <div class="property-card__type">{{ type }}</div>
  </div>
  
  <div class="property-card__content">
    <h3 class="property-card__title">
      {% if url %}
        <a href="{{ url }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>
    
    {% if location %}
      <p class="property-card__location">
        <span class="property-card__location-icon">📍</span>
        {{ location }}
      </p>
    {% endif %}
    
    {% if url %}
      <a href="{{ url }}" class="property-card__link">{{ 'View Project'|t }}</a>
    {% endif %}
  </div>
</article>
